<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584408892560-u961mr2qh1mk3r2e90kr7unqk6hgk2tl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584408892560-u961mr2qh1mk3r2e90kr7unqk6hgk2tl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>584408892560-7lq5hn17ndedii5qtjkffpspbakfi069.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYFc5Xbuot7xPODStwWr6YgFGgkGlpXYw</string>
	<key>GCM_SENDER_ID</key>
	<string>584408892560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-bc01e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-bc01e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584408892560:ios:ad16d02aa038d50871c415</string>
</dict>
</plist>